################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankingApp.Fundamentals.OOP/FileContentIndex
/.vs/VendingMachine/FileContentIndex/68714d32-4836-4d14-ad7c-7acb9b368a48.vsidx
